<h1 mat-dialog-title>{{ data.recipe_title }}</h1>
<div mat-dialog-content class="!flex flex-col p-2">
  <mat-form-field appearance="outline" class="!mt-4">
    <mat-label for="recipeTitle">Recipe title</mat-label>
    <input matInput [(ngModel)]="data.recipe_title" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="ingredients ">Ingredients (one per line):</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.ingredients"
      class="h-auto min-h-[6rem] resize-y"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="preparation ">Preparation:</mat-label>
    <textarea
      matInput
      [(ngModel)]="data.preparation"
      class="h-auto min-h-[6rem] resize-y"
    ></textarea>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="complexity">Complexity:</mat-label>
    <mat-select [(ngModel)]="data.complexity">
      <mat-option value="low">Low</mat-option>
      <mat-option value="average">Average</mat-option>
      <mat-option value="medium">Medium</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="preparationTime">Preparation time:</mat-label>
    <input matInput [(ngModel)]="data.preparation_time" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label for="bakingTime">Baking time:</mat-label>
    <input matInput [(ngModel)]="data.baking_time" />
  </mat-form-field>

  <div mat-dialog-actions>
    <button
      mat-button
      [mat-dialog-close]="data"
      cdkFocusInitial
      type="submit"
      (click)="submit()"
    >
      Submit
    </button>
    <input #fileInput type="file" (change)="upload($event)" />
    <button mat-button (click)="onNoClick()">Cancel</button>
  </div>
</div>
