<div class="container">
  <div class="example-button-row">
    <button mat-raised-button (click)="openDialog()">Create recipe</button>
  </div>

  <mat-card
    (click)="onLoadRecipeDetail()"
    [routerLink]="index"
    routerLinkActive="active"
  >
    <mat-card-title>
      {{ recipe.recipe_title }}
    </mat-card-title>

    <img
      mat-card-sm-image
      [src]="recipe.image"
      alt="{{ recipe.recipe_title }}"
      class="img-responsive"
      style="max-height: 50px; border-radius: 7px"
    />
    <mat-card-content>
      <p class="list-group-item-text">{{ recipe.preparation }}</p>
    </mat-card-content>
  </mat-card>
</div>
