<div class="container mx-auto px-24 grid grid-cols-3 gap-4">
  <div *ngFor="let recipe of recipeList" class="max-w-sm p-4">
    <mat-card>
      <mat-card-content>{{ recipe.image }}</mat-card-content>
      <mat-card-title> {{ recipe.recipe_title }}</mat-card-title>
      <mat-card-content class="!line-clamp-2">{{
        recipe.preparation
      }}</mat-card-content>
      <mat-icon (click)="updateRecipe(recipe)"> edit</mat-icon>
      <mat-icon (click)="deleteRecipe(recipe)">delete</mat-icon>
    </mat-card>
  </div>
</div>
