<div class="container">
  <div class="example-button-row">
    <button mat-raised-button color="primary" (click)="openDialog()">
      Create recipe
    </button>
  </div>

  <div *ngFor="let recipe of recipeList" class="max-w-sm p-4">
    <mat-card>
      <!-- <mat-card-content>{{ recipe.image }}</mat-card-content> -->
      <mat-card-title> {{ recipe.recipe_title }}</mat-card-title>
      <mat-card-content class="!line-clamp-2">{{ recipe.preparation }}</mat-card-content>
      <mat-icon (click)="onEdit(recipe)"> edit</mat-icon>
      <mat-icon (click)="onDelete(recipe)">delete</mat-icon>

    </mat-card>
  </div>
</div>
